[submodule "submodules/openpi"]
	path = submodules/openpi
	url = https://github.com/benlam62/openpi.git
[submodule "submodules/Isaac-GR00T"]
	path = submodules/Isaac-GR00T
	url = https://github.com/benlam62/Isaac-GR00T.git
	branch = n1-release
